a {
    font-size:14px;
    font-weight:700
}
  .superNav {
    font-size:13px;
}
  .form-control {
    outline:none !important;
    box-shadow: none !important;
}
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }


  body {
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.btn-primary {
    margin-top: 10px;
}
