@font-face {
    font-family: "Roboto";
    src: url("path/to/roboto-regular.woff2") format("woff2");
}

body {
    font-family: "My Custom Font", sans-serif;
    overflow: hidden;
}

a {
    font-size:14px;
    font-weight:700
}

.superNav {
    font-size:13px;
}

.form-control {
    outline:none !important;
    box-shadow: none !important;
}

@media screen and (max-width:540px){
    .centerOnMobile {
        text-align:center
    }

    .werkrooster {
        position: relative;
        width: 4rem;
        height: 4rem;
    }
}

.werkrooster {
    position: relative;
    top: 15rem;
    left: 200px;
    width: 130rem;
    height: 45rem;
    overflow: hidden;
}

.werknemers-counter {
    font-size: 30px;
    position: relative;
    top: 20px;
    left: 100px;
}

.buttons {
    position: relative;
    top: 5px;
    right: 25px;
    width: 40rem;
    display: flex;
    justify-content: space-around;
}

.buttons > button {
    border-radius: 2px;
    border-color: black;
    border-width: 1px;
    background-color: rgb(110, 110, 255);
    color: white;
    position: relative;
    height: 35px;
}

.tabel {
    position: relative;
    width: 110rem;
    height: 40rem;
    left: 100px;
    display: flex;
    align-items: center;
    overflow: scroll;
}   

table, th, td {
    padding-inline: 2rem;
    font-size: 2rem;
}

td {
    border: 3px solid black;
}

td > button {
    margin: 5px;
    width: 10rem;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    border-color: transparent;
    background-color: transparent;
    font-size: 15px;
    overflow: hidden;
    text-align: center;
}

#add-new-user {
    position: relative;
    width: 40rem;
    height: 40rem;
    left: 600px;
    /* top: 190px; */
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
    box-shadow: 10px;
    box-shadow: 0 8px 16px rgb(0, 0, 0, .7);

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-medewerker {
    color: white;
    background-color: rgb(0, 217, 36);
    border-color: transparent;
    padding: 5px;
}

#add-new-user > i {
    position: relative;
    left: 180px;
}

#add-new-user > i:hover {
    cursor: pointer;
}

#add-new-user > div > input {
    margin-bottom: 20px;
    padding: 5px;
}